{% extends "base.html" %}

{% block title %}Home - Traffic Intelligence{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<header class="hero-section text-center text-light">
    <div class="container">
        <h1 class="display-4 fw-bold">Estimate Traffic Volume with AI</h1>
        <p class="lead">Smart traffic prediction using Machine Learning</p>
        <a href="/application" class="btn btn-primary btn-lg mt-3">Get Started</a>
    </div>
</header>
{% endblock %}
